<div class="main-content">
    <div class="container-fluid">

        <div class="row" *ngIf="false">
            <div>
                <input type="file" (change)="onChangeImagenPrincipalEsp($event)">
            </div>
            <br>
            <div>
                <button class="btn btn-success" (click)="submit()">Upload</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align: right;">
                <a data-toggle="tooltip" title="Registrar nuevo Usuario" (click)="crearnuevo()">
                    <i class="material-icons" style="color: #1062b9;font-size: 2.5rem;">add_circle</i>
                </a>
            </div>


        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped hover" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                        id="table1000">
                        <!--
                <table class="table" id="table1">
-->

                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Titulo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>
                                    <img src="{{item.img_principal}}" alt="" style="max-height: 20px;">
                                </td>
                                <td>{{item.titulo_espanol.substring(0, 90)}}...
                                </td>
                                <td>
                                        <button class="btn btn-danger btn-small btn-sm btn-link" (click)="editar(item)">
                                            Editar
                                        </button>
                                        <button type="button" class="btn btn-warning btn-link  btn-small btn-sm "
                                            (click)="eliminaritem(item.id)">Eliminar</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalpublicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">




                <div class="card">
                    <div class="card-header card-header-primary" style="background: #273a7d !important;">
                        <h4 class="card-title">Protocolo

                        </h4>
                        <p class="card-category">información del protocolo</p>
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h5>Nombre del protocolo</h5>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <b>Español:</b>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" placeholder=""
                                    [(ngModel)]="datos_crear.titulo_espanol">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-2">
                                <b>Ingles:</b>
                            </div>
                            <div class="col-10">
                                <input type="text" class="form-control" placeholder=""
                                    [(ngModel)]="datos_crear.titulo_ingles">
                            </div>
                        </div>

                        <hr>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class=" text-info">
                                        Imagen principal español
                                    </td>
                                    <td>
                                        <img *ngIf="srcImagespa" id="oneim" [src]="srcImagespa" alt="..."
                                            style="max-height: 50px;">
                                    </td>
                                    <td class="td-actions text-right">

                                        <div>
                                            <span class="btn btn-primary btn-link btn-sm btn-just-icon btn-file">
                                                <span class="fileinput-new">
                                                    <i class="material-icons">publish</i>
                                                </span>
                                                <input (change)="onChangeImagenPrincipalEsp($event)" type="file"
                                                    name="..." accept="image/*" name="file-1[]" id="file-esp" />
                                            </span>
                                            <!-- <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Quitar</a> -->
                                        </div>
                                    </td>


                                </tr>

                                <tr>
                                    <td class="text-info">
                                        Imagen principal ingles
                                    </td>
                                    <td>
                                        <img *ngIf="srcImageing" id="oneim" [src]="srcImageing" alt="..."
                                            style="max-height: 50px;">
                                    </td>
                                    <td class="td-actions text-right">

                                        <div>
                                            <span class="btn btn-primary btn-link btn-sm btn-just-icon btn-file">
                                                <span class="fileinput-new">
                                                    <i class="material-icons">publish</i>
                                                </span>
                                                <input (change)="onChangeImagenPrincipalIng($event)" type="file"
                                                    name="..." accept="image/*" name="file-1[]" id="file-1ingls" />
                                            </span>
                                            <!-- <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Quitar</a> -->
                                        </div>



                                        <button [disabled]="disabled" mat-raised-button type="button"
                                            matTooltip="Subir imagen" [matTooltipPosition]="'above'"
                                            class="btn btn-primary btn-link btn-sm btn-just-icon" *ngIf="false">
                                            <i class="material-icons">publish</i>
                                        </button>
                                        <button [disabled]="false" mat-raised-button type="button"
                                            matTooltip="Eliminar evidencia" [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon" *ngIf="false">
                                            <i class="material-icons">close</i>
                                        </button>

                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="card-title">
                            <h5>Archivos del protocolo español
                                <a style="color: #1062b9;border-color: #1062b9;"
                                    (click)='orden=orden+1;datos_crear.imagenes.push({"imagen":"","orden":orden})'>
                                    <i class="material-icons" style="color: #1062b9;font-size: 2.5rem;">add_circle</i>
                                </a>

                            </h5>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr *ngIf="datos_crear.imagenes.length == 0">
                                    <td colspan="3">No se ha cargado ningun archivo.</td>
                                </tr>
                                <tr *ngFor="let item of datos_crear.imagenes; let i = index;">
                                    <td *ngIf="!item['imagen']">
                                        <span>{{item['target']?item['target'][0]['name']:'Cargar archivo'}}</span>
                                        <span *ngIf="item.file_name">
                                            - <a href="https://empresa.iconosatlantico.com/blog/storage/app/"
                                                matTooltip="Ver evidencia" [matTooltipPosition]="'above'"
                                                class="btn-link">
                                                Nombre archivo
                                            </a>
                                        </span>
                                    </td>
                                    <td *ngIf="item['imagen']">
                                        <span >
                                            - <a href="{{item['imagen']}}"
                                                matTooltip="Ver imagen" [matTooltipPosition]="'above'"
                                                class="btn-link" target="_blank">
                                                Ver archivo
                                            </a>
                                        </span>
                                    </td>

                                    <td class="td-actions text-right">


                                        <div *ngIf="!item['imagen']"  class="image-upload">
                                            <label for="file-input{{i}}" style="color:#273a7d"
                                                class="btn btn-link btn-just-icon btn-sm ">
                                                <i class="material-icons">publish</i>
                                            </label>
                                            <input id="file-input{{i}}" type="file"
                                                (change)="onChangeArchivos($event,i)" />
                                        </div>


                                    </td>
                                    <td>
                                        <button mat-raised-button type="button" matTooltip="Eliminar evidencia"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                                            (click)="borrarindex(i)">
                                            <i class="material-icons">close</i>
                                        </button>

                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="card-title">
                            <h5>Archivos del protocolo ingles
                                <a style="color: #1062b9;border-color: #1062b9;"
                                    (click)='ordening=ordening+1;datos_crear.imagenesing.push({"imagen":"","orden":orden})'>
                                    <i class="material-icons" style="color: #1062b9;font-size: 2.5rem;">add_circle</i>
                                </a>

                            </h5>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr *ngIf="datos_crear.imagenesing.length == 0">
                                    <td colspan="3">No se ha cargado ningun archivo.</td>
                                </tr>
                                <tr *ngFor="let item of datos_crear.imagenesing; let i = index;">
                                    <td *ngIf="!item['imagen']">
                                        <span>{{item['target']?item['target'][0]['name']:'Cargar archivo'}}</span>
                                        <span *ngIf="item.file_name">
                                            - <a href="https://empresa.iconosatlantico.com/blog/storage/app/"
                                                matTooltip="Ver evidencia" [matTooltipPosition]="'above'"
                                                class="btn-link">
                                                Nombre archivo
                                            </a>
                                        </span>
                                    </td>
                                    <td *ngIf="item['imagen']">
                                        <span >
                                            - <a href="{{item['imagen']}}"
                                                matTooltip="Ver imagen" [matTooltipPosition]="'above'"
                                                class="btn-link" target="_blank">
                                                Ver archivo
                                            </a>
                                        </span>
                                    </td>
                                    <td class="td-actions text-right">


                                        <div class="image-upload" *ngIf="!item['imagen']">
                                            <label for="file-inputing{{i}}" style="color:#273a7d"
                                                class="btn btn-link btn-just-icon btn-sm ">
                                                <i class="material-icons">publish</i>
                                            </label>
                                            <input id="file-inputing{{i}}" type="file"
                                                (change)="onChangeArchivosing($event,i)" />
                                        </div>


                                    </td>
                                    <td>
                                        <button mat-raised-button type="button" matTooltip="Eliminar evidencia"
                                            [matTooltipPosition]="'above'"
                                            class="btn btn-danger btn-link btn-sm btn-just-icon"
                                            (click)="borrarindexing(i)">
                                            <i class="material-icons">close</i>
                                        </button>

                                    </td>


                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cancelar</button>
                            <button *ngIf="!this.datos_crear.id" type="button" class="btn btn-link" style="color: #1062b9;border-color: #1062b9;"
                                (click)="subir()">Guardar</button>

                            <button *ngIf="this.datos_crear.id" type="button" class="btn btn-link" style="color: #1062b9;border-color: #1062b9;"
                                (click)="editarpublicacion()">Editar</button>
                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>
</div>