.Verde{
 font-size: 200px !important;
 color: #53CA98;   
}

.Gris{
    font-size: 200px !important;
    color: #949191;   
}

.Amarillo{
font-size: 200px !important;
color: #F5D500;   
}

.Rojo{
font-size: 200px !important;
color: #C5301A;   
}
.Morado{
    font-size: 200px !important;
    color: #6700BE;   
}