<div class="main-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-12">
                <label for="inputState">Titulo</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="datos_crear.titulo">
            </div>

            <div class="col-12 mt">
                <label for="inputState">Descripcion</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="datos_crear.mensaje">
            </div>
            <div class="col-12 mt">
                <label for="">
                    Perfiles
                </label>

                <div style="display: grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr ;">
                    <div *ngFor="let per of perfiles">
                        <input type="checkbox" id="{{per.id}}" [(ngModel)]="per.selected">
                        <label for="scales">{{per.texto}}</label>
                    </div>

                </div>

            </div>

            <div class="col-12">
                <button type="button" class="btn btn-link btn-success btn-small btn-sm mt"
                    (click)="enviar()">Enviar</button>
            </div>



        </div>
        <br>
    </div>
</div>