<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" >
                <label for="inputState">Fecha inicial</label>
                <input type="date" class="form-control" placeholder="Fecha inicial" [(ngModel)]="finicial">
            </div>

            <div class="col-md-4" >
                <label for="inputState">Fecha final</label>
                <input type="date" class="form-control" placeholder="Fecha final" [(ngModel)]="ffinal">
            </div>

            <div class="col-md-4" >
                <label for="inputState">Tipo</label>
                <select  class="form-control" [(ngModel)]="tipo">
                    <option  [value]="1">Boletin</option>
                    <option [value]="2">Notas</option>
                </select>

            </div>

            <br>
            <br>
            <div class="col-md-12" >
                <button  class="btn btn-primary btn-block" (click)="cargarformularios()">Buscar</button>

            </div>
            <div class="col-md-12" >
                <button  class="btn btn-success btn-block" (click)="reporte()"  *ngIf="data.length">Exportar excel</button>

            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger" style="background: #273a7d !important;">
                        <div class="row">
                                <h4 class="card-title">Padres familia</h4>
<!--                              <div class="col-6" style="text-align: right;">
                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                    (click)="reportemodal()">Ver reporte</button>

                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                    (click)="reporte()" *ngIf="data?.length">Descargar reporte</button>

                            </div>
 -->                         </div>
                        <p class="card-category">Información del reporte</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="chart-wrapper">
                                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                        [chartType]="doughnutChartType" [colors]="doughnutChartColors">
                                    </canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger" style="background: #273a7d !important;">
                        <div class="row">
                                <h3 class="card-title">Staff </h3>
                         <!--    <div class="col-6" style="text-align: right;">
                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                (click)="reportemodal(1)">Ver reporte</button>
                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                    (click)="reporte(1)">Descargar reporte</button>

                            </div> -->
                        </div>
                        <p class="card-category">Información del reporte</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="chart-wrapper">
                                    <canvas baseChart [data]="doughnutChartDatahs" [labels]="doughnutChartLabelshs"
                                        [chartType]="doughnutChartType" [colors]="doughnutChartColorshs"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger" style="background: #273a7d !important;">

                        <div class="row">
                                <h3 class="card-title">Estudiantes</h3>
                           <!--  <div class="col-6" style="text-align: right;">
                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                (click)="reportemodal(2)">Ver reporte</button>
                                <button type="button" class="btn btn-link" style="color: white;border-color: white;"
                                    (click)="reporte(2)">Descargar reporte</button>

                            </div> -->
                        </div>


                        <p class="card-category">Información del reporte</p>
                    </div>


                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="chart-wrapper">
                                    <canvas baseChart [data]="doughnutChartDataEL" [labels]="doughnutChartLabelsEL"
                                        [chartType]="doughnutChartType" [colors]="doughnutChartColorsEL"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        

        <br>
        <br>
        <div *ngIf="this.data.length">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-striped hover" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                            id="table10">
                            <!--
                    <table class="table" id="table1">
    -->

                            <thead>

                                <tr>
                                    <th>Nombre</th>
                                    <th>Identificacion</th>
                                    <th>Perfil</th>
    
                                    <th>Primer Dia</th>
                                    <th>Ultimo Dia</th>
                                    <th>Cantidad Veces</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data">
                                    <td>{{item.primer_nombre}} {{item.segundo_nombre}} {{item.primer_apellido}} {{item.segundo_apellido}}</td>
                                    <td>{{item.identificacion}}</td>
                                    <td>{{item.perfil}}</td>
                                    <td>{{item.PrimerDia}}</td>
                                    <td>{{item.UltimoDia}}</td>
                                    <td>{{item.CantidadVeces}}</td>
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>

